@import url('https://fonts.googleapis.com/css2?family=B612+Mono:wght@400;700&display=swap');
@import url('quills.css');

:root {
    --white: white;
    --black: black;
    --bg-color: hsl(333, 49%, 49%);
    --light-bg-color: rgb(255, 232, 242);
    --highlight-color: hsla(90, 65%, 30%, 1);
    --highlight-light-color: hsla(90, 65%, 30%, 0.5);
    --bg2-color: hsla(245, 65%, 30%, 1);
    --bg2-light-color: hsla(90, 65%, 30%, 0.5);
}

.keditorRoot {
    width: 800px;
    max-width: 800px;
    margin: auto;
}

.keditorRoot .kimage, .keditorRoot .kvideo {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.keditorRoot .kdropme {
    border: 6px solid red !important;
}

.keditorRoot .document .plaintext {
    font-family: monospace;
}

.kentry-container {
    font-size: 0;
    border-bottom: 2px solid var(--bg-color);
    box-shadow: 5px 6px 8px 0px var(--light-bg-color);
    margin: 10px 0;
}

.kentry-tools {
    background-color: var(--light-bg-color);
    padding: 4px;
    padding-top: 0px;
    margin: 0;
    font-size: 16px;
}

.kentry-tools span {
    margin: 0px 4px;
    cursor: pointer;
}

.kentry-tools .name {
    float: right;
    font-family: 'B612 Mono', monospace;
    font-size: 14px;
    text-overflow: hidden;
}

.kentry-container.squared {
    display: inline-block;
    width: calc(50%);
    margin: 4px 0;
    overflow: hidden;
}

.kentry-container.flowed .content {
    max-height: 400px;
    font-size: 16px;
    overflow-y: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.kentry-container.flowed .content[data-edition='1'] {
    max-height: none;
    font-size: 13px;
}

.kentry-container.flowed .ql-container {
    height: 400px;
}

.document .kmetadata {
    font-family: 'B612 Mono', monospace;
    background-color: var(--bg-color);
    color: var(--white);
    margin: 0 0 1ex 0;
    padding: 4px;
    min-height: 64px;
}

.document .indicator.has-childs {
    display: none !important;
}

.document.with-entries {
    cursor: pointer;
}

.document.with-entries .indicator.has-childs {
    display: block !important;
}

.highlight .kmetadata {
    background-color: var(--highlight-color)  !important;
}

.highlight .kentry-container  {
    border-bottom: 2px solid var(--highlight-color) !important;
    box-shadow: 5px 6px 8px 0px var(--highlight-light-color) !important;
}
.highlight .kentry-tools {
    background-color: var(--highlight-light-color) i !important
}

.kform-autocomplete, .kform-inline {
    width: calc(100% - 16px);
    background-color: var(--bg2-color);
    min-height: 64px;
    padding: 8px;
}

.kform-inline {
    display: flex;
    align-items: center;
    
}

.kform-autocomplete .ktags {
    width: 100%;
    font-family: 'B612 Mono', monospace;
}

.kform-autocomplete .ktags .ktag {
    padding: 8px 4px;
    width: 100%;
}

.kform-inline input, .kform-inline button, .kform-inline span.message {
    max-height: 36px;
    min-height: 36px;
    min-width: 120px;
    margin: 5px;
}

.kform-inline input, .kform-inline span.message {
    flex-grow: 4;
    font-family: 'B612 Mono', monospace;
    font-size: 12px;
}

.kform-inline span.message {
    display: inline-block;
    color: var(--white);
}


.keditorRoot .klink {
    display: block;
    width: 100%;
    height: 200px;
    margin: 4px;
    font-size: 0.8em;
    font-family: 'B612 Mono', monospace;
    text-decoration: none;
    display: flex;
    justify-content: center;
    background: url('../images/document.png') no-repeat center;
    color: black;
}

.keditorRoot .klink .name {
    align-self: flex-end;
}

.kmenu {
    font-size: 36px;
    margin: 0.5em 0;
}

.kmenu .back {
    padding: 0 3px;
    width: 48px;
    height: 42px;
    display: inline-block;
    color: var(--light-bg-color);
    background-color: var(--bg-color);
    margin: 0 0.3ch 0 0;
}

.kmenu .back:active {
    background-color: var(--bg2-color);
    color: var(--white);
}

.kmenu .back i {
    margin: 3px 8px;
}

.kmenu .tools {
    display: inline-block;
}

.kmenu .tools span[data-action], button.kui {
    background-color: var(--bg2-light-color);
    font-size: 14px;
    cursor: pointer;
    display: flex;
    height: 36px;
    align-items: center;
    font-family: 'B612 Mono', monospace;
    max-width: 160px;
    border: none;
    }

.kmenu .tools span[data-action]:active, button.kui:active {
    color: var(--white)
}
.kmenu .tools .fas, .kmenu .tools .fa {
    font-size: 38px;
    margin: 4px;
}

.kmenu .search {
    float: right;
}

.kmenu .search form {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.kmetadata .indicator {
    float: right;
    font-size: 36px;
    display: flex;
    float: right;
    padding: 0px 8px;
    margin: 0px 4px;
    justify-content: center;
}

.kmetadata .indicator [data-action] {
    cursor: pointer;
}

.kmetadata .indicator span i {
    align-items: center;
}

.kmetadata.childs .navigation {
    background-color: var(--white);
    color: var(--bg-color);
    display: inline-block;
}

.kmetadata.childs .navigation:active {
    background-color: var(--bg2-color);
    color: var(--white);
}

.ktags {
    margin-top: 0.5em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.kform-inline .ktags {
    display: block;
    width: 100%;
}

.ktags-tools {
    margin-left: 1ch;
}

@media only screen and (max-width: 860px) {
    .keditorRoot {
        width: 100%;
        max-width: 100%;
        padding: 4px,
    }
    .ktags {
        clear: both;
        height: 3em;
    }
    .ksubmenu {
        display: none;
    }
    .kentry-container.squared {
        width: 100%;
    }
}